.section1-image-container {
  display: flex;
  justify-content: space-between;
  background-image: url("../../assets/png/background2.png"),
    url("../../assets/png/background1.png");
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, auto;
  padding: 0 20px;
}
.section1-container {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  flex: 1;
}
.section1-container h1 {
  max-width: 700px;
}

.center-container {
  max-width: 1140px;
  margin: auto;
  padding: 0 20px 50px 20px;
}
.header-text {
  font-weight: 700;
  font-size: 58px;
  padding: 20px 0;
}

.header-text span:last-child {
  color: var(--dark-yellow);
  font-weight: 800;
}

.section2 {
  margin-bottom: 68px;
}
.section2 h2 {
  margin-top: 76px;
}
.medium-text {
  max-width: 200;
  margin: 0 0 13px 0;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color-main);
}
.flex-start {
  display: flex;
  justify-content: flex-start; /* Center horizontally */
  max-width: 1100px;
  margin: 30px auto;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.flex-nowrap {
  display: flex;
  /* gap: 12px; */
  flex-wrap: nowrap;
  align-items: center;
  min-width: 200px;
  max-width: 200px;
  border-bottom: 0.5px solid var(--light-gray);
  padding: 20px 30px;
  overflow: visible;
  border-right: 0.5px solid var(--light-gray);
  color: var(--text-color-main);
}

h1 {
  color: var(--text-color-main);
}

.section2 .flex-nowrap > div:nth-child(2) {
  /* border: 1px solid red; */
  font-weight: 400;
  margin-left: 10px;
  font-size: 18px;
}

.section3 .flex-start {
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
  gap: 44px;
}

.section3 > .header-align {
  margin-bottom: 40px;
}

.box-layout {
  /* margin-right: 47px; */
  /* margin-bottom: 40px; */
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex: 1;
  max-width: 310px;
  min-width: 300px;
}
.box-layout > img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: 179px;
  min-height: 179px;
  background-color: #fff;
}
.box-layout .price-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.price-details .day-pass {
  padding: 3px 10px 8px 10px;
  background-color: "#F9F9F9";
  border-radius: 6px;
  flex: 1;
  margin-right: 12px;
  position: relative;
  border: 1px solid var(--light-gray);
  max-width: 150px;
  text-align: left;
}
.price-details .bulk-pass {
  padding: 9px 10px 8px 10px;
  background-color: var(--primary-button);
  border-radius: 6px;
  flex: 1;
  position: relative;
  max-width: 150px;
  border: 0;
  text-align: left;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.price-details .pass {
  font-size: 12px;
  margin-bottom: 18px;
  color: var(--text-secondary-color);
  font-weight: 500;
}
.price-details .pass-per-day {
  font-weight: 600;
  margin-top: 5px;
  font-size: 17px;
  color: #000;
}

.price-details .pass-per-day > sub {
  font-weight: 500;
  font-size: 12px;
  vertical-align: -0.15em;
  color: #000;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-details .absolute {
  position: absolute;
  font-size: 10px;
  background-color: #000;
  padding: 3px 10px;
  color: #fff;
  border-radius: 3px;
  margin: "auto";
  left: 20%;
  top: -10px;
}
.desktop-hidden {
  visibility: hidden;
}

.section4 h1 {
  color: var(--gray);
}

.section4 .header-align {
  margin-top: 80px;
  margin-bottom: 237px;
}

.download-view {
  background-color: #fff;
  border-radius: 18px;
  padding: 30px 30px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* margin-bottom: 50px; */
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
}

.download-image {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 240px;
  justify-content: space-evenly;
  gap: 20px;
}
.download-text {
  max-width: 500px;
  margin-left: auto;
  font-size: 20px;
  color: var(--gray);
  margin-bottom: 26px;
  line-height: 23px;
}

.absolute-position {
  position: absolute;
  left: 2%;
}

@media screen and (max-width: 1024px) {
  .absolute-position {
    width: 300px;
  }
  .download-text {
    font-size: 16px;
    max-width: 400px;
  }
  .section4 .header-align {
    margin-bottom: 107px;
  }
  .header-text {
    font-size: 44px;
  }
}

@media screen and (max-width: 768px) {
  .header-text {
    font-size: 34px;
  }
  .desktop-hidden {
    visibility: visible;
  }
  .medium-text {
    font-size: 16px;
  }
  .section1-container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .section2 .flex-start {
    justify-content: center;
  }
  .flex-nowrap {
    background-color: #fff;
    margin-left: 14px;
    margin-bottom: 14px;
    flex-direction: column;
    padding: 15px 6px;
    min-width: 155px;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 0px #0000000f;
  }
  .section2 .flex-nowrap > div:nth-child(2) {
    font-size: 14px;
  }
  .absolute-position {
    position: relative;
    max-width: 200px;
  }
  .download-image {
    gap: 0px;
  }
  .download-image img {
    max-width: 84px;
  }
  .download-text {
    margin: auto;
  }
  .section4 .header-align {
    margin-top: 44px;
    margin-bottom: 27px;
  }
  .section2 span {
    font-size: 16px;
  }
}

@media screen and (max-width: 439px) {
  .svg-banner {
    max-width: 380px;
    width: 380px;
    overflow-x: hidden;
  }
  .hidden {
    display: none;
  }
  h1 {
    font-size: 24px;
  }
  .header-text {
    font-size: 20px;
  }
  .download-text > p {
    display: none;
  }
  .box-layout {
    min-width: 200px;
  }
  .section3 .flex-start {
    gap: 24px;
  }
  .flex-nowrap {
    min-width: none;
    padding: 15px 0px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 375px) {
  .svg-banner {
    width: 350px;
  }
}
